﻿<!DOCTYPE html>
<html ng-app="notesApp">
<head>
    <title></title>
</head>
<body ng-controller="MainCtrl as ctrl">

<div>

    <h2>What are your favorite sports?</h2>

    <div ng-repeat="sport in ctrl.sports">
        <label ng-bind="sport.label"></label>

        <div>
            With Binding:
            <input type="checkbox" ng-model="sport.selected" ng-true-value="Yes" ng-false-value="No">
        </div>

        <div>
            Using ng-checked:
            <input type="checkbox" ng-checked="sport.selected === 'Yes'">
        </div>

        <div>
            Current state:{{sport.selected}}

        </div>
        <br/>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>

<script type="text/javascript">

    angular.module('notesApp', []).controller('MainCtrl', [
        function() {
            var self = this;

            self.sports = [
                { label: 'Basketball', selected: 'Yes' },
                { label: 'Cricket', selected: 'No' },
                { label: 'Soccer', selected: 'No' },
                { label: 'Swimming', selected: 'Yes' }
            ];
        }
    ]);

</script>

</body>
</html>
