﻿<!DOCTYPE html>
<html ng-app="notesApp">
<head>
    <title></title>

    <style>
        .username.ng-valid {
            background-color: green;
        }

        .username.ng-dirty.ng-invalid-required {
            background-color: red;
        }

        .username.ng-dirty.ng-invalid-minlength {
            background-color: lightpink;
        }
    </style>

</head>
<body ng-controller="MainCtrl as ctrl">

    <form ng-submit="ctrl.submit()" name="myForm">

        <input type="text" name="uname" class="username" ng-model="ctrl.user.username" required ng-minlength="4">
        <span ng-show="myForm.pwd.$error.required">This is a required field</span>

        <input type="submit" value="Submit" ng-disabled="myForm.$invalid">
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>

    <script type="text/javascript">

        angular.module('notesApp', []).controller('MainCtrl', [
            function() {

                var self = this;

                self.submit = function() {
                    console.log('User clicked submit with', self.user);
                };
            }
        ]);

    </script>

</body>
</html>
