﻿<!DOCTYPE html>
<html ng-app="notesApp">
<head>
    <title></title>
</head>
<body ng-controller="MainCtrl as ctrl">

<form ng-submit="ctrl.submit()" name="myForm">
        <input type="text" ng-model="ctrl.user.username" required ng-minlength="4">
    <input type="password" ng-model="ctrl.user.password" required>
        <input type="submit" value="Submit" ng-disabled="myForm.$invalid">
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>

    <script type="text/javascript">

        angular.module('notesApp', []).controller('MainCtrl', [
            function() {

                var self = this;

                self.submit = function() {
                    console.log('User clicked submit with', self.user);
                };
            }

        ]);


    </script>

</body>
</html>
