﻿<!DOCTYPE html>
<html ng-app="notesApp">
<head>
    <title></title>
</head>
<body ng-controller="MainCtrl as ctrl">

    <div>
        <select ng-model="ctrl.selectedCountryId" ng-options="c.id as c.label for c in ctrl.countries"></select>
        Selected Country ID : {{ctrl.selectedCountryId}}
    </div>

    <div>

        <select ng-model="ctrl.selectedCountry" ng-options="c.label for c in ctrl.countries track by c.id"></select>
        Selected Country : {{ctrl.selectedCountry}}
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>

    <script type="text/javascript">

    angular.module('notesApp', []).controller('MainCtrl', [
        function () {

            var self = this;

            self.countries = [
                { label: 'Usa', id: 1 },
                { label: 'India', id: 2 },
                { label: 'Brazil', id: 3 },
                { label: 'Other', id: 4 }
            ];

            this.selectedCountryId = 2;
            this.selectedCountry = this.countries[1];
        }
    ]);

    </script>

</body>
</html>
