﻿<!DOCTYPE html>
<html ng-app="notesApp">
<head>
    <title></title>

</head>
<body ng-controller="MainCtrl as ctrl">

    <input type="text" ng-model="ctrl.username" />
    You typed {{ctrl.username}}


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>

    <script type="text/javascript">

        angular.module('notesApp', []).controller('MainCtrl', [
            function () {

                var self = this;

                self.username = 'nothing';
            }
        ]);

    </script>

</body>
</html>
