﻿<!DOCTYPE html>
<html ng-app="notesApp">
<head>
    <title></title>
</head>
<body ng-controller="MainCtrl as ctrl">

<form ng-submit="ctrl.submit1()">
    <input type="text" ng-model="ctrl.username">
    <input type="password" ng-model="ctrl.password">
    <input type="submit" value="Submit">
</form>

<form ng-submit="ctrl.submit2()">
    <input type="text" ng-model="ctrl.user.username">
    <input type="password" ng-model="ctrl.user.password">
    <input type="submit" value="Submit">
</form>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>

    <script type="text/javascript">

        angular.module('notesApp', []).controller('MainCtrl', [
            function() {

                var self = this;

                self.submit1 = function () {

                    var user = {username: self.username, passawor:self.password}

                    console.log('First form submit with', user);
                    //console.log('User clicked submit with ', self.user);
                };

                self.submit2 = function() {
                    console.log('Second form submit with', self.user);
                }
            }

        ]);


    </script>

</body>
</html>
