﻿<!-- File: chapter6/public/http-get-example.html -->
<html ng-app="notesApp">
<head>
    <title>$http get example</title>
    <style>
        .item {
            padding: 10px;
        }
    </style>
</head>
<body ng-controller="MainCtrl as mainCtrl">
    <h1>Hello Servers!</h1>
    <div ng-repeat="bairro in mainCtrl.items" class="item">
        <div><span ng-bind="bairro"></span></div>
        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js">
    </script>
<script>
    
    angular.module('notesApp', [])
        .controller('MainCtrl', ['$http', function ($http) {

            var self = this;
            self.items = [];

            //$http({
            //    method: "GET",
            //    url: "https://clubsaude.nvstec.com/wscrm/Prestador/GET_ALL_BAIRRO?cid_id=9668"
            //}).then(function (response) {

            //    self.items = response.data;

            //    console.log(self.items);

            //}, function (errResponse) {
            //    console.error('Error while fetching notes');
            //});

            $http.get('https://clubsaude.nvstec.com/wscrm/Prestador/GET_ALL_BAIRRO?cid_id=9668').then(function (response) {

                self.items = response.data;

            }, function(errResponse) {
                console.error('Error while fetching notes');
            });

        }]);

</script>
</body>
</html>
