﻿<!DOCTYPE html>
<html ng-app>
<head>
    <title></title>
</head>
<body>
<h1>
    Hello{{1+2}}
</h1>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>


</body>
</html>
