﻿<!DOCTYPE html>
<html ng-app="notesApp">
<head>
    <title></title>
</head>
<body ng-controller="MainCtrl as mainCtrl">

    <h1>Hello Services</h1>
    <button ng-click="mainCtrl.logStuff()">Log something</button>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>

    <script type="text/javascript">

        angular.module('notesApp', []).controller('MainCtrl', ['$log',
            function ($log) {

                var self = this;

                self.logStuff = function () {
                    $log.log('The button was press');
                }
            }
        ]);

    </script>
</body>
</html>
