﻿<!DOCTYPE html>
<html ng-app="notesApp">
<head>
    <title>Hello AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
</head>
<body ng-controller="MainCtrl as ctrl">
<h1>
    Hello {{1+1}}nd time AngularJS
</h1>

{{ctrl.helloMsg}} AngularJS

<br/>

{{ctrl.goodbyeMsg}} AngularJS


<script type="text/javascript">

        angular.module('notesApp', []).controller('MainCtrl', [
            function () {

                this.helloMsg = "Hello";

                var goodbyeMsg = "Goodbye";
            }
        ]);

    </script>

</body>
</html>
