﻿<!DOCTYPE html>
<html ng-app="notesApp">
<head>
    <title>Hello AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
</head>
<body ng-controller="MainCtrl as ctrl">

    {{ctrl.message}} AngularJS

<br/>
<button ng-click="ctrl.changeMessage()" >Change Message</button>

    
    <script type="text/javascript">

        angular.module('notesApp', []).controller('MainCtrl', [
            function () {

                var self = this;

                self.message = 'Hello';
                self.changeMessage = function () {

                    self.message = 'Goodbye';
                }
            }
        ]);

    </script>

</body>
</html>
