﻿<!DOCTYPE html>
<html ng-app="notesApp">
<head>
    <title>Notes App</title>

</head>
<body ng-controller="MainCtrl as ctrl">

<table>
    <tr ng-repeat-start="note in ctrl.notes">
        <td>{{note.label}}</td>
    </tr>
    <tr ng-repeat-end>
        <td>Done: {{note.done}}</td>
    </tr>
</table>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>

    <script type="text/javascript">

    angular.module('notesApp', []).controller('MainCtrl', [
        function() {

            var self = this;

            self.notes = [
                { id: 1, label: 'First Note', done: false },
                { id: 2, label: 'Second Note', done: false },
                { id: 3, label: 'Finish Third Note', done: true }
            ];
        }
    ]);

    </script>

</body>
</html>
