﻿<!DOCTYPE html>
<html ng-app="notesApp">
<head>
    <title>Hello AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
</head>
<body ng-controller="MainCtrl as ctrl">

<div ng-repeat="note in ctrl.notes">

    <span class="label">{{note.label}}</span>
    <span class="status" ng-bind="note.done"></span>

</div>


<script type="text/javascript">

    angular.module('notesApp', []).controller('MainCtrl', [
        function() {

            var self = this;

            self.notes = [
                { id: 1, label: 'First Note', done: false },
                { id: 2, label: 'Second Note', done: false },
                { id: 3, label: 'Done Note', done: true },
                { id: 4, label: 'Last Note', done: false }

            ];
        }
    ]);

</script>

</body>
</html>
