﻿<!DOCTYPE html>
<html ng-app="notesApp">
<head>
    <title>Hello AngularJS</title>

    <style>
        
        .done {
            background-color: green;
        }

        .pedding {
            background-color: red;
        }

    </style>
</head>
<body ng-controller="MainCtrl as ctrl">

    <div ng-repeat="note in ctrl.notes" ng-class="ctrl.getNoteClass(note.done)">

        <span class="label">{{note.label}}</span>
        <span class="assignee" ng-show="note.assignee" ng-bind="note.assignee"></span>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>

<script type="text/javascript">

    angular.module('notesApp', []).controller('MainCtrl', [
        function() {

            var self = this;

            self.notes = [
                { id: 1, label: 'First Note', done: false, assignee:'Shyan' },
                { id: 2, label: 'Second Note', done: false },
                { id: 3, label: 'Done Note', done: true },
                { id: 4, label: 'Last Note', done: false, assignee:'Brad' }

            ];

            self.getNoteClass = function(status) {
                return {
                    done:status,
                    pedding:!status
                }
            }
        }
    ]);

    </script>

</body>
</html>
