﻿<!DOCTYPE html>
<html ng-app="notesApp">
<head>
    <title>Hello AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
</head>
<body>
    <h1>
        Hello {{1+1}}nd time AngularJS
    </h1>


<script type="text/javascript">

    angular.module('notesApp', []);

</script>

</body>
</html>
