﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
</head>
<body ng-app>

    <input type="text" ng-model="name" placeholder="Digite seu nome"/>

<h1>
    Hello <span ng-bind="name"></span>
    Ola {{name}}
</h1>




</body>
</html>
